apiVersion: 1

datasources:
  - name: ClickHouse
    type: grafana-clickhouse-datasource
    access: proxy
    isDefault: true
    uid: clickhouse
    jsonData:
      host: clickhouse
      port: 8123
      protocol: http
      defaultDatabase: otel
      username: default
      tlsSkipVerify: true
    secureJsonData:
      password: ""
